%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Color
      %th Price
      %th Quantity Available
      %th Image

  - products.each do |product|
    %tr
      %td= link_to product.name, product
      %td= product.description
      %td= product.color
      %td= number_to_currency product.price_cents
      %td= product.amount_available
      %td= image_tag product.image.thumb
      %td
        = link_to 'Edit', edit_product_path(product), class: "btn btn-success"
        = link_to 'Destroy', product_path(product), method: :delete, :data => { :confirm => 'Do you really want to do this?'}, class: "btn btn-success"
