%h1 Products#show
%p Find me in app/views/products/show.html.haml


- @products.each do |product|
  %p= product.name
  %p= product.description
  %p= product.color
  %p= product.price_cents
  %p= product.amount_available
  %p= product.image
