%h1 Product

%h1= @product.name

%p
  = image_tag @product.image, height: "300"
%p
  %b Description
  = @product.description
%p
  %b Color
  = @product.color
%p
  %b Price
  = number_to_currency @product.price_cents

= link_to 'Edit', edit_product_path(@product), class: "btn btn-success"
= link_to 'Back', products_path, class: "btn btn-success"
